




<div class="container-fluid p-5 foot">
  <div class="row p-5">
    <div class=" col-lg-4 col-sm-12 text-white text-center">
      <h4>LOCATION</h4>
      <p>2215 John Daniel Drive</p>
      <p>Clark, MO 65243</p>
    </div>

    <div class=" col-lg-4 col-sm-12 text-white text-center">
      <h4>AROUND THE WEB</h4>
      <div class=" d-flex gap-3 fs-4 justify-content-center pt-2">
        <div class=" social border border-2 rounded-circle">
          <i class="fa-brands fa-facebook-f"></i>
        </div>
        <div class=" social border border-2 rounded-circle">
          <i class="fa-brands fa-twitter"></i>
        </div>
        <div class=" social border border-2 rounded-circle">
          <i class="fa-brands fa-linkedin-in"></i>
        </div>
        <div class=" social border border-2 rounded-circle">
          <i class="fa-brands fa-dribbble"></i>
        </div>
      </div>
    </div>

    <div class=" col-lg-4 col-sm-12 text-white text-center">
      <h4>ABOUT FREELANCER</h4>
      <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    </div>

  </div>
</div>





<footer>
  <div class="container-fluid p-4">
  <div class="row">
  <div class=" col-lg-12 col-sm-6 text-white text-center">
    <h6>Copyright © Your Website 2021</h6>
  </div>
  </div>
  </div>
  </footer>
