


<section>
  <div class="container p-5">
    <div class="row justify-content-center">
      <div class=" d-flex flex-column align-items-center gap-3 pb-5 pt-5">
        <h1>CONTACT COMPONENT</h1>
        <div class=" d-flex align-items-center gap-3">
          <div class="line1"></div>
          <i class="fa-solid fa-star"></i>
          <div class=" line1"></div>
        </div>
      </div>

      <div class=" w-50 text-black d-flex flex-column mx-auto position-relative pb-5">
        <input type="text" class=" border border-0 border-bottom form-control py-3 "
                placeholder="userName">
        <input type="text" class=" border border-0 border-bottom form-control py-3"
                placeholder="userAge">
        <input type="email" class=" border border-0 border-bottom form-control py-3"
                placeholder="userEmail">
        <input type="password" class=" border border-0 border-bottom form-control py-3 mb-4"
                placeholder="userPssword">
        <button class=" btn text-white m-auto position-absolute start-0 bottom-0">Send Message</button>
      </div>

    </div>
  </div>
</section>






