

<section>
  <div class="container p-5">
    <div class="row g-5">
      <div class=" d-flex flex-column align-items-center gap-3 pb-3 pt-5">
        <h1 class=" fw-bold">PORTFOLIO COMPONENT</h1>
        <div class=" d-flex align-items-center gap-3">
          <div class="line1"></div>
          <i class="fa-solid fa-star"></i>
          <div class=" line1"></div>
        </div>
      </div>

        <div class=" col-lg-4 ">
          <div class=" imgg position-relative">
            <img src="./../../assets/images/poert1.png" class=" w-100 rounded-3 " alt="1">
            <div class="layer d-flex justify-content-center align-items-center position-absolute top-0">
              <i class="fa-solid fa-plus fs-1 text-white"></i>
            </div>
          </div>
        </div>

        <div class=" col-lg-4 ">
          <div class=" imgg position-relative">
            <img src="./../../assets/images/port2.png" class=" w-100 rounded-3 " alt="1">
            <div class="layer d-flex justify-content-center align-items-center position-absolute top-0">
              <i class="fa-solid fa-plus fs-1 text-white"></i>
            </div>
          </div>
        </div>

        <div class=" col-lg-4 ">
          <div class=" imgg position-relative">
            <img src="./../../assets/images/port3.png" class=" w-100 rounded-3 " alt="1">
            <div class="layer d-flex justify-content-center align-items-center position-absolute top-0">
              <i class="fa-solid fa-plus fs-1 text-white"></i>
            </div>
          </div>
        </div>

        <div class=" col-lg-4 ">
          <div class=" imgg position-relative">
            <img src="./../../assets/images/poert1.png" class=" w-100 rounded-3 " alt="1">
            <div class="layer d-flex justify-content-center align-items-center position-absolute top-0">
              <i class="fa-solid fa-plus fs-1 text-white"></i>
            </div>
          </div>
        </div>

        <div class=" col-lg-4 ">
          <div class=" imgg position-relative">
            <img src="./../../assets/images/port2.png" class=" w-100 rounded-3 " alt="1">
            <div class="layer d-flex justify-content-center align-items-center position-absolute top-0">
              <i class="fa-solid fa-plus fs-1 text-white"></i>
            </div>
          </div>
        </div>

        <div class=" col-lg-4 ">
          <div class=" imgg position-relative">
            <img src="./../../assets/images/port3.png" class=" w-100 rounded-3 " alt="1">
            <div class="layer d-flex justify-content-center align-items-center position-absolute top-0">
              <i class="fa-solid fa-plus fs-1 text-white"></i>
            </div>
          </div>
        </div>

    </div>
  </div>
</section>
